In [1]:
import pandas as pd
df = pd.read_csv('/Users/suso/BootcampDA/Unit7/data_7.01_activities/files_for_activities/learningSet.csv.zip')

/var/folders/5y/_5l3y2p900scjg2bd7r52_lh0000gn/T/ipykernel_9812/4224856437.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/suso/BootcampDA/Unit7/data_7.01_activities/files_for_activities/learningSet.csv.zip')

In [2]:
# Check for null values in the numerical columns.

numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns
numerical_columns_with_null = df[numerical_columns].columns[df[numerical_columns].isnull().any()]

for col in numerical_columns_with_null:
    null_count = df[col].isnull().sum()
    print(f"Column '{col}' has {null_count} null values.")

Column 'AGE' has 23665 null values.
Column 'NUMCHLD' has 83026 null values.
Column 'INCOME' has 21286 null values.
Column 'WEALTH1' has 44732 null values.
Column 'MBCRAFT' has 52854 null values.
Column 'MBGARDEN' has 52854 null values.
Column 'MBBOOKS' has 52854 null values.
Column 'MBCOLECT' has 52914 null values.
Column 'MAGFAML' has 52854 null values.
Column 'MAGFEM' has 52854 null values.
Column 'MAGMALE' has 52854 null values.
Column 'PUBGARDN' has 52854 null values.
Column 'PUBCULIN' has 52854 null values.
Column 'PUBHLTH' has 52854 null values.
Column 'PUBDOITY' has 52854 null values.
Column 'PUBNEWFN' has 52854 null values.
Column 'PUBPHOTO' has 52854 null values.
Column 'PUBOPP' has 52854 null values.
Column 'WEALTH2' has 43823 null values.
Column 'MSA' has 132 null values.
Column 'ADI' has 132 null values.
Column 'DMA' has 132 null values.
Column 'ADATE_3' has 1950 null values.
Column 'ADATE_4' has 2191 null values.
Column 'ADATE_5' has 33590 null values.
Column 'ADATE_6' has 3557 null values.
Column 'ADATE_7' has 8874 null values.
Column 'ADATE_8' has 3511 null values.
Column 'ADATE_9' has 11245 null values.
Column 'ADATE_10' has 32748 null values.
Column 'ADATE_11' has 10422 null values.
Column 'ADATE_12' has 8923 null values.
Column 'ADATE_13' has 40219 null values.
Column 'ADATE_14' has 18867 null values.
Column 'ADATE_15' has 65477 null values.
Column 'ADATE_16' has 20364 null values.
Column 'ADATE_17' has 27650 null values.
Column 'ADATE_18' has 21263 null values.
Column 'ADATE_19' has 24480 null values.
Column 'ADATE_20' has 50200 null values.
Column 'ADATE_21' has 35212 null values.
Column 'ADATE_22' has 25648 null values.
Column 'ADATE_23' has 56270 null values.
Column 'ADATE_24' has 36973 null values.
Column 'RDATE_3' has 95170 null values.
Column 'RDATE_4' has 95131 null values.
Column 'RDATE_5' has 95403 null values.
Column 'RDATE_6' has 94636 null values.
Column 'RDATE_7' has 86517 null values.
Column 'RDATE_8' has 73940 null values.
Column 'RDATE_9' has 78678 null values.
Column 'RDATE_10' has 84951 null values.
Column 'RDATE_11' has 80672 null values.
Column 'RDATE_12' has 69712 null values.
Column 'RDATE_13' has 83162 null values.
Column 'RDATE_14' has 72095 null values.
Column 'RDATE_15' has 88150 null values.
Column 'RDATE_16' has 68418 null values.
Column 'RDATE_17' has 86011 null values.
Column 'RDATE_18' has 75634 null values.
Column 'RDATE_19' has 79535 null values.
Column 'RDATE_20' has 87524 null values.
Column 'RDATE_21' has 85899 null values.
Column 'RDATE_22' has 74539 null values.
Column 'RDATE_23' has 87553 null values.
Column 'RDATE_24' has 77674 null values.
Column 'RAMNT_3' has 95170 null values.
Column 'RAMNT_4' has 95131 null values.
Column 'RAMNT_5' has 95403 null values.
Column 'RAMNT_6' has 94636 null values.
Column 'RAMNT_7' has 86517 null values.
Column 'RAMNT_8' has 73940 null values.
Column 'RAMNT_9' has 78678 null values.
Column 'RAMNT_10' has 84951 null values.
Column 'RAMNT_11' has 80672 null values.
Column 'RAMNT_12' has 69712 null values.
Column 'RAMNT_13' has 83162 null values.
Column 'RAMNT_14' has 72095 null values.
Column 'RAMNT_15' has 88150 null values.
Column 'RAMNT_16' has 68418 null values.
Column 'RAMNT_17' has 86011 null values.
Column 'RAMNT_18' has 75634 null values.
Column 'RAMNT_19' has 79535 null values.
Column 'RAMNT_20' has 87524 null values.
Column 'RAMNT_21' has 85899 null values.
Column 'RAMNT_22' has 74539 null values.
Column 'RAMNT_23' has 87553 null values.
Column 'RAMNT_24' has 77674 null values.
Column 'NEXTDATE' has 9973 null values.
Column 'TIMELAG' has 9973 null values.
Column 'CLUSTER2' has 132 null values.

In [3]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder


numeric_cols = ['WEALTH1', 'ADI']
categorical_cols = ['GEOCODE2', 'DMA', 'MSA']

imputer = SimpleImputer(strategy='mean')
df[numeric_cols] = imputer.fit_transform(df[numeric_cols])

imputer = SimpleImputer(strategy='most_frequent')
df[categorical_cols] = imputer.fit_transform(df[categorical_cols])

encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
encoded_cols = pd.DataFrame(encoder.fit_transform(df[categorical_cols]))
df.drop(categorical_cols, axis=1, inplace=True)
df = pd.concat([df, encoded_cols], axis=1)

scaler = StandardScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

/Users/suso/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


# Basic Summary Statistics
print(df.describe())

# Univariate Analysis
for col in numeric_cols:
    plt.figure()
    sns.histplot(df[col], bins=20, kde=True)
    plt.title(f'Histogram of {col}')
    plt.show()

for col in categorical_cols:
    plt.figure()
    sns.countplot(data=df, x=col)
    plt.title(f'Countplot of {col}')
    plt.xticks(rotation=45)
    plt.show()

# Bivariate Analysis
plt.figure()
sns.pairplot(df[numeric_cols])
plt.show()

for col in categorical_cols:
    plt.figure()
    sns.boxplot(data=df, x=col, y='WEALTH1')
    plt.title(f'Boxplot of WEALTH1 across {col}')
    plt.xticks(rotation=45)
    plt.show()

Index([ 'ODATEDW',  'OSOURCE',    'TCODE',    'STATE',      'ZIP', 'MAILCODE',
       'PVASTATE',      'DOB',   'NOEXCH', 'RECINHSE',
       ...
              499,        500,        501,        502,        503,        504,
              505,        506,        507,        508],
      dtype='object', length=987)